@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img, video {
  max-width: inherit;
}


.neon-glow{
  animation-duration: 1s;
  animation-name: neon-glow;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes neon-glow {
  0% {
    text-shadow: 0 0 5px rgb(34 197 94), 0 0 25px rgb(34 197 94);
  }

  25% {
    text-shadow: 0 0 7.5px rgb(34 197 94), 0 0 20px rgb(34 197 94);
  }

  50% {
    text-shadow: 0 0 10px rgb(34 197 94), 0 0 15px rgb(34 197 94);
  }

  75% {
    text-shadow: 0 0 7.5px rgb(34 197 94), 0 0 20px rgb(34 197 94);
  }

  100% {
    text-shadow: 0 0 5px rgb(34 197 94), 0 0 25px rgb(34 197 94);
  }
}